/* fonts & icon imports */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800&display=swap');

/* global styles */

html, body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 800;
    text-transform: uppercase;
    color: var(--black);
    line-height: 44px;
}

h1 {
    font-size: 38px;
}

a {
    text-decoration: none;
    color: inherit;
}

input, textarea, button {
    outline: none;
}

ul li {
    list-style-type: none;
}

ul {
    padding: 0;
}

/* colors */

:root {
    --black: #212529;
    --grey: #6c757d;
    --yellow: #ffc107;
}

/* btns */

.btn {
    padding: 14px;
    border-radius: 5px;
    border: none;
    width: 105px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
}

.btn-dark {
    background: var(--black);
    color: white;
}

.btn-yellow {
    color: black;
    background: var(--yellow);
}

button.btn-yellow.btn-work {
    border: none;
    padding: 10px;
    max-width: 200px;
    border-radius: 3px;
    font-weight: 500;
    font-family: inherit;
}

/* reusable styles */

.padding {
    padding: 40px 60px;
}

span#heading-emoji {
    font-size: 32px;
}

/* header */

header {
    margin-bottom: 40px;
    width: 25%;
    display: flex;
    position: fixed;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.profile-img {
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--yellow);
    padding: 2px;
}

.profile-img-alt {
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--yellow);
    padding: 2px;
}

.header-image img:hover {
    display: none;
}

h1#hello-there {
    font-size: 38px;
}

.header-block p {
    color: var(--grey);
}

.header-contact-icons {
    margin-top: 30px;
    z-index: 90!important;
}

.header-contact-icons i {
    font-size: 27px;
    padding-right: 10px;
}

.header-buttons {
    margin-top: 30px;
}

.header-buttons button:first-child {
    margin-right: 10px;
}

/* emojis */

.heading-emoji {
    display: inline-block;
    position: relative;
    bottom: 1px;
    font-size: 28px;
}

.heading-emoji.emoji-about {
    position: relative;
    top: 1px;
}

.heading-emoji.heading-spanner-emoji {
    padding-right: 5px;
}

.heading-emoji.heading-spanner-emoji {
    top: -1px;
}

.heading-emoji.emoji-work {
    padding-right: 8px;
}

/* right container // skills,experiences,services */

.right-container {
    width: 70%;
    position: relative;
    left: 30%;

}

/* skills */

.skills {
    background: #00fefe;
}

.skills-progress-bar {
    max-width: 75%;
}

.progress-bar-block {
    display: flex;
    flex-direction: column;
}

progress#html {
    width: 100%;
}

/* progress bar styling - repeated styles for different browsers */

progress {
    border: none;
    border-radius: 3px;
    width: 100%;
    height: 10px;
    background: #2e96a5;
    color: #fff;
    margin-bottom: 23px;
}

progress::-webkit-progress-value {
    border-radius: 3px;
    background: #fff;
}

progress::-moz-progress-bar {
    background: #fff;
    border-radius: 3px;
}

progress::-webkit-progress-value {
    background: #2e96a5;
}

progress::-webkit-progress-bar {
    background: #fff;
    border-radius: 3px;
}

.label-progress {
    font-family: 'Montserrat';
    font-weight: 500;
    padding-bottom: 3px;
}
/* about me */

.about {
    background-color: #aaffa7;
    position: relative;
}

.about-text {
    padding-left: 20px;
    position: relative;
    left: 12px;
    max-width: 90%;
}

/* services */

.services-container {
    display: flex;
    justify-content: space-between;
}

.services {
    background-color: var(--yellow);
}

.services-block {
    width: 40%;
    padding: 20px;
    background: #F3F6FD;
    margin-bottom: 10px;
    display: flex;
    border-radius: 4px;
}

.services-icon {
    position: relative;
    top: 20px;
    padding-right: 38px;
    left: 20px;
}

.services-text {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    position: relative;
    top: -10px;
    color: var(--grey);
}

/* work */

.work {
    background-color: #fdead2;
    position: relative;
    z-index: 2;
}

.work-blocks-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.work-block {
    display: flex;
}
.work-img {
    max-width: 70%;
}

img.work-img {
    min-width: 100%;
    object-fit: cover;
}

.work-text {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3.website-heading {
    font-weight: 300;
}

p.website-info {
    border-bottom: 1px solid var(--grey);
    padding-bottom: 20px;
}

/* contact */

.contact {
    background-color: #f8f9fa;
    width: 60%;
    position: relative;
    left: 40%;
    padding-top: 200px;
    padding-bottom: 60px;
    z-index: 2;
}

.contact-additional-wrapper {
    position: relative;
    top: -73px;
    max-width: 60%;
}

p#available-for-hire {
    color: #28a745;
    margin-top: -10px;
}

.contact-form {
    margin-top: 25px;
}

.form-control {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    margin-bottom: 12px;
}

.form-control label {
    padding-bottom: 7px;
    padding-left: 5px;
}

.contact-input {
    background-color: #e8ebef;
    border: 1px solid #e8ebef;
    padding: 8px;
    border-radius: 4px;
}

textarea#form-textarea {
    border: 1px solid #e8ebef;
    background-color: #e8ebef;
    height: 120px;
    border-radius: 4px;
    padding: 8px;
}

/* footer */

footer {
    background: var(--yellow);
    padding: 10px;
    color: white;
    text-align: center;
    margin-bottom: -10px;
}

footer .fa-heart {
    color: red;
}


/* media queries */

@media screen and (max-width:1470px){
    /* change width of header */
    header {
        width: 30%;
    }
    .right-container {
        width: 60%;
        left: 40%;
    }
    /* services */
    .services-container {
        flex-wrap: wrap;
    }
    .services-block {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (min-width:1440px){
    /* flex service boxes on desktop */
    .services-container {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:1000px){
    /* contact */
    .contact-additional-wrapper {
        max-width:70%;
    }
}
@media screen and (min-width:901px){
    html, body {
        overflow-x: hidden;
    }
    .services-block {
        margin-right: 10px;
    }
}

@media screen and (max-width:900px){
    /* enforce mobile mode */
    
    header {
        width: auto;
        position: relative;
        height: auto;
        z-index: 0;
    }
    .right-container {
        width: 100%;
        left: 0;
    }
    /* contact */
    .contact {
        width: auto;
        left: 0;
    }
    .contact-additional-wrapper {
        max-width: 100%;
    }
    .contact {
        padding-top: 100px!important;
        margin-bottom: -80px;
        z-index: -1;
    }

    /* padding style */
    .padding {
        padding: 40px;
    }
    /* footer white space */
    footer {
        margin-bottom: -28px;
    }
    /* services */
    .services-block {
        max-width: 97%;
    }
}

@media screen and (max-width:800px){
    .work-block {
        flex-wrap: wrap;
        margin-bottom: 20px;
        padding: 30px;
    }
    .work-block:not(:last-child){
        border-bottom: 2px solid #E8E8E8;
    }
    
    h3.website-heading {
        margin-bottom: -10px;
    }
    .work-text {
        width: 100%;
    }
    .work-img {
        max-width: 100%;
    }
    
}

@media screen and (max-width:638px){
    .services-block {
        flex-direction: column;
    }
    .services-icon {
        padding-right: 0;
        left: 0;
        text-align: center;
        padding-bottom: 16px;
    }
    .services-text h3 {
        text-align: center;
    }
    .services-text {
        text-align: center;
    }
}

@media screen and (max-width:600px){
    /* progress bars */
    .skills-progress-bar {
        max-width: 90%;
    }
    .nav-icons {
        display: none;
    }
}

@media screen and (max-width:500px){
    h3.website-heading {
        font-size: 14px;
    }
}

@media screen and (max-width:458px){
    /* services */
    h3.services-heading {
        font-size: 15px;
        padding: 0;
    }
}

@media screen and (max-width:380px){
    span#heading-line-break {
        position: relative;
        top: -20px;
    }
}